/* font-family: 'Black Ops One', system-ui;
font-family: 'Bungee Spice', sans-serif;
font-family: 'Lilita One', sans-serif;
font-family: 'Salsa', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
}

body{
    background-image: linear-gradient(to left, #070756cc, #074656, #0000007c);
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

/* tela 1 */

.line11{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    width: 100%;
    font-size: 5rem;
    font-family: 'Salsa', cursive;
    font-weight: bold;
    padding: 20px;
}

.line11 p{
    display: flex;
    align-items: center;
    height: 100%;
}

.line1-1 {
    grid-column: 1 / span 4;
    white-space: nowrap;
}

.line2-1 {
    grid-column: 2 / span 2;
    white-space: nowrap;
}

.line3-1 {
    grid-column: 3 / span 2;
    white-space: nowrap;
}

.line4-1 {
    grid-column: 4;
    white-space: nowrap;
}

.icon1-1{
    width: 125px;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    white-space: nowrap;
}

.line51{
    position: relative;
    top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.line5-1{
    font-family: 'Salsa', cursive;
    font-size: 5rem;
    font-weight: bold;
    width: 50vw;
    line-height: 9vh;
}

.icon2-1{
    height: 200px;
    width: 200px;
}

.span1-1{
    color: #fff;
}

/* Tela 2 */

.line12{
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Salsa', cursive;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 100%;
    padding: 20px;
    position: relative;
    top: 25vh;
}

.line12 p{
    display: flex;
    align-items: center;
    height: 100%;
}

.line1-2{
    grid-column: 1 / span 2;
    white-space: nowrap;
}

.line2-2{
    grid-column: 2 / span 2;
    white-space: nowrap;
}

.line3-2{
    grid-column: 3;
    white-space: nowrap;
}

.line22{
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Salsa', cursive;
    position: relative;
    top: 30vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn1{
    background-color: #000;
    cursor: pointer;
    height: 10vh;
    width: 30vw;
    border: none;
    position: relative;
    top: 25vh;
    left: 35vw;
    font-size: 2.5rem;
}

.span1-2{
    color: #fff;
}

.span2-2{
    color: #fff;
}

/* Tela 3 */

.line13{
    font-family: 'Salsa', cursive;
    font-weight: bold;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 35vh;
}

.line1-3{
    width: 80%;
    line-height: 8vh;
}

.line-principal3{
    font-family: 'Salsa', cursive;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    position: relative;
    top: 45vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3vw;
}

.line23 img, .line33 img, .line43 img{
    width: 400px;
    height: 400px;
}

.icon13 img{
    width: 200px;
    display: block;
    margin: 0 auto;
}

.icon13{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40vh;
}

.btn2{
    position: relative;
    top: 47vh;
}

/* Tela 4 */

.line14{
    font-family: 'Salsa', cursive;
    font-weight: bold;
    font-size: 5rem;
    display: grid;
    position: relative;
    top: 50vh;
}

.line14 p{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.line2-4{
    width: 70%;
}

.wrapper{
    font-family: 'Salsa', cursive;
    font-weight: bold;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    column-gap: 5vw;
    position: relative;
    top: 50vh;
}

.img14{
    display: grid;
    grid-template-columns: 45vw;
    text-align: center;
}

.img14 img{
    justify-self: center;
    align-self: center;
}

.img14 img,
.img24 img{
    width: 200px;
}

.gradiente4{
    background-image: linear-gradient(0deg, #070756 41%, #000 55%);
    color: transparent;
    background-clip: text;
}

/* Tela 5 */

.line15{
    font-weight: bold;
    font-family: 'Salsa', cursive;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 55vh;
    text-align: center;
}

.wrapper1{
    font-weight: bold;
    font-family: 'Salsa', cursive;
    font-size: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 60vh;
    color: #0e0ee8;
}

.line25 img, .line35 img, .line45 img, .line55 img, .line65 img, .line75 img, .line25, .line35, .line45, .line55, .line65, .line75{
    display: block;
    margin: 0 auto;
}

.wrapper1 img{
    filter: brightness(0) invert(1);
    width: 150px;
    height: 150px;
}

/* Tela 6 */

.line16{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Salsa', cursive;
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 65vh;
}

.line1-6{
    width: 50%;
    text-align: center;
}

.line26{
    font-family: 'Salsa', cursive;
    text-transform: capitalize;
    font-size: 3rem;
    width: 100%;
    position: relative;
    top: 70vh;
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    gap: 10px;
    color: #fff;
}

.column{
    padding: 10px;
    text-align: start;
}

.span1-6{
    color: #0e0ee8;
}

.line27{
    display: flex;
    justify-content: center;
    font-family: 'Salsa', cursive;
    text-transform: capitalize;
    font-size: 3rem;
    color: #fff;
    width: 100%;
    position: relative;
    top: 70vh;
}

.btn3{
    position: relative;
    top: 75vh;
}

/* Tela 7 */

.line18{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Salsa', cursive;
    font-size: 4rem;
    font-weight: bold;
    color: #0e0ee8;
    position: relative;
    top: 80vh;
}

.line1-8{
    width: 90%;
    text-align: center;
}

.span1-7{
    background-image: linear-gradient(0deg, #fff 3%, #0000ff 72%);
    color: transparent;
    background-clip: text;
    font-family: 'Salsa', cursive;
}

.line28{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Salsa', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 85vh;
}

.line2-8{
    width: 80%;
    text-transform: uppercase;
}

.line28 img{
    width: 150px;
    height: 150px;
    filter: brightness(0) invert(1);
}

.line38{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Bungee Spice', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 90vh;
}

.line3-8{
    background-image: linear-gradient(0deg, #fff 1%, #0000ff 52%);
    color: transparent;
    background-clip: text;
}

.line48{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 12vh;
    width: 100%;
    font-family: 'Salsa', cursive;
    font-size: 3rem;
    position: relative;
    top: 95vh;
    font-weight: bold;
}

.line4-8 span, .line5-8 span, .line6-8 span, .line1-9 span, .line2-9 span, .line3-9 span, .line4-9 span{
    background-image: linear-gradient(0deg, #000 100%, #fff 0%);
    color: transparent;
    background-clip: text;
    font-weight: bold;
    font-family: 'Bungee Spice', sans-serif;
}

/* Tela 8 */

.line19{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 12vh;
    width: 100%;
    font-family: 'Salsa', cursive;
    font-size: 3rem;
    position: absolute;
    top: 800vh;
    font-weight: bold;
}

.line29{
    display: flex;
    align-items: center;    
    font-family: 'Bungee Spice', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 95vh;
    padding: 20px;
}

.line5-9{
    width: 90%;
    text-align: justify;
    background-image: linear-gradient(0deg, #fff 100%, #000 0%);
    color: transparent;
    background-clip: text;
}

.img29{
    width: 500px;
    height: 500px;
    position: relative;
}

.img29 img{
    height: 500px;
    width: 500px;
}


/* Botões comprar */

.acesso{
    background-color: #000;
    cursor: pointer;
    height: 10vh;
    width: 30vw;
    border: none;
    position: relative;
    left: 35vw;
    font-size: 2.5rem;
}

.gradiente-text{
    background-image: linear-gradient(to top, #e7f7fd 10%, #e7f7fd 50%, #0063e5 77%);
    color: transparent;
    background-clip: text;
    font-family: 'Bungee Spice', sans-serif;
    text-transform: uppercase;
}

@media screen and (max-width: 576px) {
    /* Parte 1 */

    .line11{
        font-size: 2rem;
        width: 95%;
        padding: 3px;
    }

    .icon1-1{
        width: 50px;
    }

    .line51{
        top: 5vh;
    }

    .line5-1{
        font-size: 2rem;
        width: 80%;
        line-height: 4vh;
    }

    .icon2-1{
        width: 50px;
        height: 50px;
    }

    /* Parte 2 */

    .line12{
        font-size: 2rem;
        padding: 3px;
        top: 10vh;
    }

    .line22{
        font-size: 2rem;
        top: 20vh;
    }

    .btn1{
        top: 15vh;
    }

    /* Parte 3 */

    .line13{
        font-size: 2rem;
        top: 25vh;
    }

    .line1-3{
        line-height: 4vh;
    }
    
    .icon13{
        top: 30vh;
    }

    .icon13 img{
        width: 50px;
    }

    .line-principal3{
        font-size: 2rem;
        top: 35vh;
    }

    .line23 img, .line33 img, .line43 img{
        width: 100px;
        height: 100px;
    }

    .btn2{
        position: relative;
        top: 40vh;
    }

    /* Parte 4 */

    .line14{
        font-size: 2rem;
        top: 45vh;
    }

    .line2-4{
        width: 100%;
        padding: 3px;
    }

    .img14{
        grid-template-columns: 48vw;
    }

    .img14 img, .img24 img{
        width: 100px;
    }

    .wrapper{
        font-size: 2rem;
        column-gap: 3vw;
    }

    /* Parte 5 */

    .line15{
        font-size: 2rem;
    }

    .wrapper1{
        font-size: 1.5rem;
    }

    .wrapper1 img{
        width: 50px;
        height: 50px;
    }

    /* Parte 6 */

    .line16{
        font-size: 2rem;
    }

    .line1-6{
        width: 100%;
    }

    .line26{
        font-size: 1.5rem;
        padding-left: 0;
        grid-template-columns: repeat(auto-fit, minmax(50vw, 50vw));
        gap: 0;
        align-items: center;
    }

    .line27{
        font-size: 1.5rem;
    }

    /* Parte 7 */

    .line18{
        font-size: 1.5rem;
        padding: 3px;
    }

    .line1-8{
        width: 100%;
    }

    .line28{
        font-size: 1.8rem;
        flex-direction: column;
    }

    .line2-8{
        width: 100%;
    }

    .line28 img{
        width: 100px;
        height: 100px;
    }

    .line38{
        font-size: 1.7rem;
        text-align: center;
    }

    .line48{
        font-size: 1.8rem;
        line-height: 6vh;
        align-items: start;
        padding: 3px;
    }

    /* Parte 8 */

    .line19{
        font-size: 2rem;
    }

    .line29{
        flex-direction: column;
        font-size: 1.5rem;
        padding: 0;
    }

    .line5-9{
        width: 100%;
        text-align: center;
    }

    .img29{
        width: 250px;
        height: 250px;
        position: relative;
    }

    .img29 img{
        height: 250px;
        width: 250px;
    }

    /* Botões comprar */

    .acesso{
        font-size: 2rem;
        left: 20vw;
        height: 10vh;
        width: 60vw;
    }
}